{% if content.field_image_has_value %}
  {% set with_image_class = 'card__with-image' %}
{% endif %}

<article class="card {{ with_image_class }} {{ content.field_card_text_align }}">
  {% if content.field_image_has_value %}
    <figure class="card__figure">
      {{ content.field_image }}
    </figure>
  {% endif %}
  <div class="card__content">
    {% if content.field_title_has_value %}
      <h2 class="card__title">
        {% set link = render_var(content.field_link) %}
        {% if link is empty %}
          {{ content.field_title }}
        {% else %}
          <a href="{{ content.field_link }}" class="card__title__link">{{ content.field_title }}</a>
        {% endif %}
      </h2>
    {% endif %}

    <div class="wysiwyg">
      {{ content.field_description_formatted }}
    </div>
    {{ content.field_button_link }}
  </div>
</article>
