{% set link = render_var(content.field_link) %}
{% set link_class = link is not empty ? 'with-link' : 'without-link' %}

<article class="listing-card listing-card--{{ link_class }} listing-card--small">
  <figure class="listing-card__figure">
  {# conditionally hide or show link #}
    {% if link is empty %}
      <picture>
        <source srcset="{{ content.field_image }}" media="(min-width: 640px)">
        <img src="/assets/img/transparent.png" alt="Subpage listing thumbnail" class="listing-card__image">
      </picture>
    {% else %}
      <a href="{{ content.field_link }}" class="list-card__figure__link">
        <picture>
          <source srcset="{{ content.field_image }}" media="(min-width: 640px)">
          <img src="/assets/img/transparent.png" alt="Subpage listing thumbnail" class="listing-card__image">
        </picture>
      </a>
    {% endif %}
  </figure>

  <div class="listing-card__detail">
    <h2 class="listing-card__title ">
      {# conditionally hide or show link #}
      {% if link is empty %}
        {{ content.field_title }}
      {% else %}
        <a href="{{ content.field_link }}" class="listing-card__title__link">
          {{ content.field_title }}
        </a>
      {% endif %}
    </h2>
    {{ content.field_description }}
  </div>
</article>
