{% set entity_id = content.penn_entity.id() %}
<article class="card hero-card {{ content.field_custom_height }}">
  <div class="hero" data-hero="{{ entity_id }}">
  <div class="hero__shadows {{ content.field_opacity }}"></div>  
    {% if content.field_description_formatted_has_value %}
   <div class="contain contain--wide">
    <div class="hero-full-width__content {{ content.field_justify }}"> 
    <div class="wysiwyg">
      {{ content.field_description_formatted }}
    </div>
    </div>
    </div>
    {% endif %}
  </div>
</article>
<style>
  .hero[data-hero="{{ entity_id }}"] {
    background-image: url({{ content.field_image }});
  }
  {# .hero[data-hero="hero2"] {
    background-image: url({{ content.field_image }});
  } #}
</style>
