<article class="card {{ content.field_card_text_align }}">
  <figure class="card__figure">
    {{ content.field_image }}
  </figure>
  <div class="card__content">
    <h2 class="card__title">
      {% set link = render_var(content.field_link) %}
      {% if link is empty %}
        {{ content.field_title }}
      {% else %}
        <a href="{{ content.field_link }}" class="card__title__link">{{ content.field_title }}</a>
      {% endif %}
    </h2>
    {{ content.field_description_formatted }}
    {{ content.field_button_link }}
  </div>
</article>
