<div class="social-card social-card--image {{ content.field_background_color }}">
  <a href="{{ content.field_link }}" class="social-card__link">
    {{ content.field_image }}
    <div class="social-card__content">
      <div class="social-card__wrap">
        {{ content.field_description }}
        <div class="social-card__footer">
          <span class="social-card__icon">
            <img src="/{{ penn_global_directory }}/assets/img/svg/icon-instagram-white.svg" alt="Instagram">
          </span>
          <span class="social-card__user">{{ content.field_title }}</span>
        </div>
      </div>
    </div>
  </a>
</div>
