<article class="listing-card listing-card--large  {{ content.field_borders }} {{ content.field_margins }}">
  <figure class="listing-card__figure">
    <a href="{{ content.field_link }}" class="list-card__figure__link">
      {{ content.field_image }}
    </a>
  </figure>
  <div class="listing-card__detail">
    <h3 class="listing-card__title ">
      <a href="{{ content.field_link }}" class="listing-card__title__link">{{ content.field_title }}</a>
    </h3>
    {{ content.field_description_formatted }}
  </div>
</article>
