{% set has_link = content.field_link|render is not empty ? true : false %}
<article class="grid-card  {# {{ content.field_grid_borders }} #}">  {% if has_link %}
    <a href="{{ content.field_link }}" class="grid-card__image-link">
  {% endif %}
    {{ content.field_image }}
    {% if has_link %}
      </a>
    {% endif %}
    <div class="grid-card__content"> <h3 class="grid-card__title">
      {% if has_link %}
        <a href="{{ content.field_link }}" class="grid-card__link">
          {{ content.field_title }}
        </a>
      {% else %}
        {{ content.field_title }}
      {% endif %}
    </h3>
    {{ content.field_description }}
  </div>
</article>