<section class="content-gallery {{ content.field_borders }}">
  <div class="contain content-gallery__flex">

    <div class="content-gallery__column">
      {{ content.field_gallery_reference }}
    </div>

    <div class="content-gallery__column">
      <div class="text-cta">
        {{ content.field_subtitle }}
        <h2 class="text-cta__title ">{{ content.field_title }}</h2>
        {{ content.field_description_formatted }}
      </div>
      {{ content.field_link_list_reference }}
    </div>
  </div>
</section>
