<section class="card-slider section-padding {{ content.field_borders }} {{ content.field_background_color}} ">
  <div class="contain card-slider__flex">
    <header class="section-header  {{ content.section_header_class }} card-slider__column">
      <h2 class="section-header__title">{{ content.field_title }}</h2>
      {{ content.field_description_formatted }}
    </header>
    <div class="card-slider__column card-slider__column--wide">
      <div data-slider="two-across">
        {{ content.field_penn_entity_reference }}
      </div>
    </div>
  </div>
</section>
