<div class="{{content.field_background_color }} {{ content.field_borders }} clearfix wysiwyg-container">
  <div class="wysiwyg {{content.field_padding }} {{ content.field_margins }} {{ content.field_container_width }} clearfix">
    {{ content.field_wysiwyg }}
  </div>
</div>