{% set quote_image = content.field_image|render is not empty ? 'quote--image' : ''%}
<div class="contain quote {{ quote_image }} {{ content.field_borders }} {{ content.field_padding }} {{ content.field_margins }}">
  {{ content.field_image }}
  <blockquote class="quote__content">
    <p>{{ content.field_quote }}</p>
    <cite>{{ content.field_quote_author }}</cite>
  </blockquote>
</div>
