<section class="{{ content.field_margins }} {{ content.field_borders }}">
  <div class="{{ content.field_container_width }} {{ content.field_padding }}"> 
    {% if content.field_title_has_value or content.field_description_formatted_has_value %}    
      <header class="section-header section-header--centered {{ content.section_header_class }}">
        <h2 class="section-header__title">{{ content.field_title }}</h2>
      </header>
      <div class="wysiwyg">
        {{ content.field_description_formatted }} 
      </div>    
    {% endif %}
    <div class="penn-entity__view-embed">
      {# drupal_view args are preprocessed in penn_entity.module #}
      {{ drupal_view(content.view_name, content.view_display_name) }}
    </div>
  </div>
</section>