<section class="social bg-color bg-gray-light">
  <div class="contain">
    <header class="section-header section-header--centered">
      <h2 class="section-header__title">{{ content.field_title }}</h2>
    </header>
    <div class="social__grid" data-slider="three-across">
      {{ content.field_penn_entity_reference }}
    </div>
    <div class="social__media">
      <h3 class="a11y">Follow us on social media</h3>
      <ul class="social__list">
        <li class="social__item">

          <a href="http://instagram.com/uofpenn" target="_blank" rel="noopener noreferrer" class="social__link">
            <span class="a11y">Instagram</span>
            <img src="/{{ directory }}/assets/img/svg/icon-instagram.svg" alt="Instagram icon" class="social__icon">
          </a>
        </li>
        <li class="social__item">

          <a href="https://www.facebook.com/UnivPennsylvania" target="_blank" rel="noopener noreferrer" class="social__link">
            <span class="a11y">Facebook</span>
            <img src="/{{ directory }}/assets/img/svg/icon-facebook.svg" alt="Facebook icon" class="social__icon">
          </a>
        </li>
        <li class="social__item">

          <a href="http://twitter.com/Penn" target="_blank" rel="noopener noreferrer" class="social__link">
            <span class="a11y">Twitter</span>
            <img src="/{{ directory }}/assets/img/svg/icon-twitter.svg" alt="Twitter icon" class="social__icon">
          </a>
        </li>
        <li class="social__item">

          <a href="http://www.flickr.com/photos/universityofpennsylvania" target="_blank" rel="noopener noreferrer" class="social__link flickr">
            <span class="a11y">Flickr</span>
            <img src="/{{ directory }}/assets/img/svg/icon-flickr.svg" alt="Flickr icon" class="social__icon">
          </a>
        </li>
        <li class="social__item">

          <a href="http://www.youtube.com/user/univpennsylvania" target="_blank" rel="noopener noreferrer" class="social__link youtube">
            <span class="a11y">YouTube</span>
            <img src="/{{ directory }}/assets/img/svg/icon-youtube.svg" alt="YouTube icon" class="social__icon">
          </a>
        </li>
        <li class="social__item">

          <a href="http://www.linkedin.com/company/university-of-pennsylvania" target="_blank" rel="noopener noreferrer" class="social__link linkedin">
            <span class="a11y">LinkedIn</span>
            <img src="/{{ directory }}/assets/img/svg/icon-linkedin.svg" alt="LinkedIn icon" class="social__icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
