<div class="text-cta">
  <span class="text-cta__subheading">{{ content.field_subtitle }}</span>
  <span class="text-cta__subheading text-cta__subheading--cat">{{ content.field_subtitle_secondary }} </span>
  <h2 class="text-cta__title text-cta__title--border">{{ content.field_title }}</h2>
  {{ content.field_description_formatted }}
  {# <div class="text-cta__info">
    <div class="text-cta__taxonomies">
      <a href="#" class="text-cta__taxonomy">Subtopic Taxonomy</a>
    </div>
    <span class="text-cta__date">Februrary 28, 2020</span>
  </div> #}
  {{ content.field_button_link }}
</div>
