<header id="header" class="header ">
  <div class="contain contain--xl">
    <a href="/" class="header__logo">
      {% include directory ~ '/templates/layouts/masthead.html.twig' %}
    </a>
    <button type="button" class="header__toggle-btn header__toggle-btn--menu">
      <span class="a11y">Toggle Site Navigation</span>
      <svg class="toggle-open" width="20" height="20">
        <use xlink:href="#icon-menu" href="#icon-menu"></use>
      </svg>
      <svg class="toggle-close" width="20" height="20">
        <use xlink:href="#icon-close" href="#icon-close"></use>
      </svg>
    </button>
    <button type="button" class="header__toggle-btn header__toggle-btn--search">
      <span class="a11y">Toggle Site Search</span>
      <svg class="toggle-open" width="20" height="16">
        <use xlink:href="#icon-search" href="#icon-search"></use>
      </svg>
      <svg class="toggle-close" width="20" height="16">
        <use xlink:href="#icon-close" href="#icon-close"></use>
      </svg>
    </button>
  </div>
  <div id="headerMenus" class="header__menus">
    <nav aria-label="Primary" class="nav nav--primary" id="primary-navigation">
      <ul class="nav__menu nav__menu--level-0" role="menubar">
        {% set navigation = simplify_menu('navigation') %}
        {% for navigation in navigation.menu_tree %}
          {% if navigation.submenu %}
            <li class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children" role="none">
              <div class="nav__menu-hassub">
                <a href="{{ navigation.url }}" role="menuitem" class="nav__menu-link nav__menu-link--children" data-level="0">{{ navigation.text }}</a>
                <button type="button" class="nav__menu-button nav__menu-button--level-0" aria-haspopup="true" aria-expanded="false">
                  <span class="a11y">More {{ navigation.text }}</span>
                  <svg width="18" height="10">
                    <use xlink:href="#icon-caret" href="#icon-caret"></use>
                  </svg>
                </button>
              </div>
              <div class="nav__submenu" role="menu" aria-label="{{ navigation.text }}">
                <div class="contain">
                  {% set submenus = navigation.submenu %}
                  {% set count = (submenu.length/ 3)|round %}
                  {% for submenuitems in submenus %}
                    {% if loop.first or loop.index == (((loop.length /3)|round) + 1) or loop.index == ((((loop.length /3)|round) * 2) + 1) %}
                      <ul class="nav__menu nav__menu--level-1" role="none">
                      {% endif %}
                      <li class="nav__menu-item" role="none">
                        <a href="{{ submenuitems.url }}" class="nav__menu-link" role="menuitem">{{ submenuitems.text }}</a>
                        {% if submenuitems.submenu %}
                          <button type="button" aria-haspopup="true" aria-expanded="false" class="nav__menu-button nav__menu-button--level-1">
                            <span class="a11y">More {{ submenuitems.text }}</span>
                            <svg width="10" height="6">
                              <use xlink:href="#icon-caret" href="#icon-caret"></use>
                            </svg>
                          </button>
                          <ul class="nav__menu nav__menu--level-2" role="menu" aria-label="{{submenuitems.text}}">
                            {% for tertiary in submenuitems.submenu %}
                              <li class="nav__menu-item" role="none">
                                <a href="{{tertiary.url }}" class="nav__menu-link" role="menuitem">{{tertiary.text}}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                      </li>
                      {% if loop.last or loop.index == ((loop.length /3)|round) or loop.index == ((loop.length /3)|round) * 2 %}
                      </ul>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </li>
          {% else %}
            <li class="nav__menu-item nav__menu-item--level-0 " role="none">
              <a href="{{ navigation.url }}" role="menuitem" class="nav__menu-link " data-level="0">{{ navigation.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <nav class="nav nav--secondary" aria-label="Resources">
      <button type="button" class="header__toggle-btn header__toggle-btn--search">
        <span class="a11y">Toggle Site Search</span>
        <svg class="toggle-open" width="20" height="16">
          <use xlink:href="#icon-search" href="#icon-search"></use>
        </svg>
        <svg class="toggle-close" width="20" height="16">
          <use xlink:href="#icon-close" href="#icon-close"></use>
        </svg>
      </button>
      <div class="nav-dropdown" id="resources-navigation">
        <button type="button" class="nav-dropdown__toggle-btn" aria-haspopup="true" aria-expanded="false">
          Resources
          <svg width="10" height="6">
            <use xlink:href="#icon-caret" href="#icon-caret"></use>
          </svg>
        </button>
        <ul class="nav__menu nav-dropdown__menu">
          {% set resources = simplify_menu('resources') %}
          {% for resources in resources.menu_tree %}
            <li class="nav__menu-item">
              <a href="{{ resources.url }}" class="nav__menu-link">{{ resources.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% include directory ~ '/templates/layouts/menu-callout.html.twig' %}
    </nav>
  </div>
  <div id="siteSearch" class="search search--header">
    <form class="search__form" action="/search">
      <label class="a11y" for="search__input">Search</label>
      <input id="search__input" class="search__input" placeholder="Search" name="{{ search_query_parameter }}">
      <button type="submit" class="search__button">
        <span class="a11y">Search</span>
        <svg width="20" height="16">
          <use xlink:href="#icon-search" href="#icon-search"></use>
        </svg>
      </button>
    </form>
    <button type="button" class="search__close">
      <svg class="toggle-close" width="20" height="16">
        <use xlink:href="#icon-close" href="#icon-close"></use>
      </svg>
      <span>Close</span>
    </button>
  </div>
  <div class="header__fix"></div>
</header>
