{% if content.items|length > 0 %}

  <section class="upcoming-events">
    <div class="contain">
      <header class="section-header">
        <h2 class="section-header__title">{{ content.field_title }}</h2>
      </header>

      <div class="upcoming-events__grid" data-slider="three-across">
        {% for item in content.items %}
          <article class="event-card{{ item.image is empty ? ' event-card--no-image' : '' }}">
            <time class="event-card__date" datetime="{{ item.start_date }}">
              <span class="event-card__month">{{ item.start_month }}</span>
              <span class="event-card__day">{{ item.start_day }}</span>
            </time>

            {% if not item.image is empty %}
            <a href="{{ item.url }}" class="event-card__image-link">
              <img src="{{ item.image }}" alt="{{ item.image_alt }}" class="event-card__image">
            </a>
            {% endif %}

            <span class="event-card__category">{{ item.category }}</span>
            <div class="event-card__content">
              <h3 class="event-card__title">
                <a href="{{ item.url }}" class="event-card__link">{{ item.title }}</a>
              </h3>

              {% if not item.summary is empty %}
                <p>{{ item.summary|striptags|trim }}</p>
              {% endif %}

                {# Show the end date for events longer than one day #}
                {% if item.start_date|date("n/j/Y") != item.end_date|date("n/j/Y") %}
                  <span class="event-card__event-end-date">Ends {{ item.end_date|date("F j, Y") }}</span>       
                {% endif %}
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
    <div class="contain">
      {{ content.field_link }}
    </div>
  </section>

{% endif %}