{% if content.field_entity_reference['#items']|length > 0 %}
<section class="{{ content.field_padding }} {{ content.field_margins }} {{content.field_background_color }}">
  <div class="contain">
    {% if content.field_title_has_value or content.field_description_formatted_has_value %}
      {# section_header_class: see penn_entity_preprocess_entity #}
      <header class="section-header section-header--centered {{ content.section_header_class }}">
        {{ content.field_title }}
        {{ content.field_description_formatted }}
      </header>
    {% endif %}
    <div class="js-wikit-tabbed">
      {#Build the tabs buttons #}
      <ul role="tablist">
        {% for item in content.field_entity_reference['#items']   %}
          {# Set aria-selected #}
          {% set aria_selected = loop.first ? 'aria-selected="true"' : '' %}
          <li role="presentation">
            <a role="tab" class="tab-nav__link" href="#tabpanel-{{ item.entity.id.value }}" id="tab-{{ item.entity.id.value }}" {{ aria_selected }}>{{ item.entity.field_title.value }}</a>
          </li>
        {% endfor %}
      </ul>
      {# Print the tabs items #}
      {{ content.field_entity_reference }}
    </div>
      {{ content.field_button_link }}
  </div>
</section>
{% endif %}