{% if content.items|length > 0 %}

  {% set active = ("On" in content.field_active.0) ? ' filter-section--active filter-section--showing' : '' %}

  {% set filter_title = content.field_filter_title %}
  <div id="nf-{{ content.penn_api_entity.id() }}" class="filter-section{{active}}" aria-labelledby="filter--{{ content.penn_api_entity.id() }}">

  <div class="contain content-aside__flex news-featured__grid">
    <div class="content-aside__content">

      <div class="listing-cards">
        {% for item in content.items %}
        <article class="listing-card">
          <figure class="listing-card__figure">
            <a href="{{ item.url }}" class="list-card__figure__link">
              <img src="{{ item.image }}" alt="{{ item.image_alt }}" class="listing-card__image">
            </a>
          </figure>
          <div class="listing-card__detail">
            <h3 class="listing-card__title ">
              <a href="{{item.url}}" class="listing-card__title__link">
                {{ item.homepage_title is empty ? item.title : item.homepage_title }}
              </a>
            </h3>
            <p>{{ item.dek is empty ? item.summary : item.dek }}</p>
            <div class="listing-card__info">
              {% if content.field_show_tags_has_value %}
                {# print the topics #}
                {% for topic in item.topic %}
                  <a href="{{topic.url}}" class="listing-card__category">{{ topic.name }},</a>
                {% endfor %}
                {#print the subtopics #}
                {% for subtopic in item.subtopic %}
                  <a href="{{ subtopic.url }}" class="listing-card__category">{{ subtopic.name }}{% if not loop.last %},{% endif %}</a>
                {% endfor %}
              {% endif %}
              <span class="listing-card__date">{{ item.date|date("n/j/Y") }}</span>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>

      <div class="listing-cards-cta">
        <a href="{{content.field_link.0['#url']}}" class="link link--red">{{content.field_link.0['#title']}}</a>
      </div>

    </div>
    <div class="content-aside__divide"></div>

    <div class="content-aside__aside">
      {% if content.field_secondary_feed_title_has_value %}
        <div class="section-header">
          <h2 class="section-header__title section-header__title--small">{{content.field_secondary_feed_title}}</h2>
        </div>
      {% endif %}
      <div class="listing-cards">
          {% for item in content.secondary_items %}

        <article class="listing-card listing-card--column">
          <div class="listing-card__detail">
            <a href="{{item.url}}" class="link link--red">{{item.source}}</a>
            <h3 class="listing-card__title listing-card__title--small">
              <a href="{{item.url}}" class="listing-card__title__link">{{item.title}}</a>
            </h3>
            <p>{{ item.dek is empty ? item.summary : item.dek }}</p>
            <div class="listing-card__info">
              <span class="listing-card__date">{{item.date|date("n/j/Y")}}</span>
            </div>
          </div>
        </article>
          {% endfor %}
      </div>

    </div>
    {% set link = render_var(content.field_link) %}
    {% if link is not empty %}
      <div class="content-aside__bottom medium-up">
        <a href="{{content.field_link.0['#url']}}" class="link link--red">{{content.field_link.0['#title']}}</a>
      </div>
    {% endif %}
  </div>

</div>
{% endif %}
